@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-gradient {
    background: linear-gradient(
      90.07deg,
      #ee10b0 -4.82%,
      rgba(14, 158, 239, 0.92) 127.01%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .welcome-gradient {
    background: radial-gradient(
      160% 160% at 50% 24.29%,
      #f9f4ed 0%,
      rgba(238, 231, 220, 0) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .shad {
    box-shadow: 8px 0px 24.2px 0px #ee10b026;
  }

  .login {
    box-shadow: 0px 0.6px 4.6px 0px #00000040;
  }

  /* Album gradient */
  .album {
    background: linear-gradient(
      90.22deg,
      #1171e2 12.99%,
      rgba(83, 173, 214, 0.0230101) 112.49%,
      rgba(139, 203, 231, 0) 114.84%
    );
  }

  .albumHero {
    box-shadow: 3px 12px 4px 0px #0000004d;
  }
}
